@charset "utf-8";
.bbsDetailBackgroundImg{
    width:30%;
    height: 0;
    background-position: center center;
    background-size: cover;
    padding-bottom: 30%;
    display: inline-block;
}
.ui-content.jqm-content.jqm-fullwidth{
    overflow: hidden;
}
.guanzhu,.sixin{
    width:60%;
    max-width: 100px;
    min-width: 50px;
    border:1px solid #DC721C;
    margin: 5px auto;
    font-size: 0.5rem;
    padding:2px 3px;
    border-radius: 5px;
    font-size: 12px;
    color: #DC721C;
}
div.reply{
    position: relative;
}
div[data-name="nickname"]{
    display: inline-block;
    margin-bottom: 10px;
}
div.comment-template-at{
    width:15%;
    max-width: 75px;
    min-width: 50px;
    border:1px solid #DC721C;
    padding:2px 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    float:right;
    color: #DC721C;
    display: none;
}
.form ul li:last-child{
    float:left
}
.botton-b{
    color:#16a5e9;
    border:1px solid #16a5e9;
}