@charset "utf-8";
.shaoyishao{
    width:35px;
    height: 35px;
    position:relative;
    top:-28px;
    left:140px;
}
#expressNo,#returnExpressNo{
    width:140px;
    margin-right: 30px;
    padding-top: 10px;
    text-align: left;
}
#expressName,#returnExpressName{
    padding-top:10px;
    text-align: left;
    position: relative;
    left:-26px;
}
