@charset "utf-8";
ul.wode-operate.myOrder{
    display: flex;
    justify-content: space-around;
    clear:both;

}
.my-order-title{
    border-bottom: 1px solid #f5f5f5;
    padding:10px 0;
    height: 25px;
    line-height: 25px;
    width:95%;
    margin:0 auto;
}
.order-left{
    float:left;
    font-size: 16px;
}
.order-right{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    font-color:#ddd;
}
.my-faxian-flex>.faxian-link{
    box-sizing: border-box;
    float:left;
    width:25%;
    text-align: center;
    height: 55px;
    min-height: 80px;
    border-right: 1px solid #ddd;
}
.my-faxian-flex>.faxian-link:nth-child(4n){
    border-right: none;
}
.my-faxian-flex>.faxian-link:nth-child(4n+1){
    border-left: none;
}
.my-faxian-flex>.faxian-link:nth-child(n+9){
    border-bottom: none;
}
.normal-text{
    display: block;
}
.wode-paipin{
    clear:both;
}
.faxian-list{
    border-bottom: none;
}
.faxian-lefticon {
    margin-right:0;
    width: 24px;
    height: 24px;
}

@media all and (max-width: 414px) {
    .cbp-vm-image.ui-link img.lazy{
        height:150px;
    }
}
@media all and (max-width: 320px) {
    .cbp-vm-image.ui-link img.lazy{
        height:128px;
    }
    .my-faxian-flex>.faxian-link{
        overflow: hidden;
        min-height: 60px;
    }
}
@media all and (max-width: 360px) {
    .cbp-vm-image.ui-link img.lazy{
        height:136px;
    }
}