@charset "utf-8";
.product-template-guanzhu,.product-template-sixin{
    width:60%;
    max-width:100px;
    min-width:50px;
    border:1px solid #16a5e9;
    padding:2px 3px;
    margin:10px auto 0;
    border-radius: 5px;
    font-size: 12px;
    color:#16a5e9;
}
.product-all-guanzhu {
    display: none;
}
.images .atted-content-img{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    /*margin:-2px 2px;*/
}

.images .one-img {
    width: 45%;
    padding-bottom: 55%;
}