@charset "utf-8";
.product-template-jubao,.product-template-sixin{
    width:60%;
    max-width: 100px;
    min-width:50px;
    margin:10px auto 0;
    font-size: 0.5rem;
    padding:1px 2px;
    border-radius: 2px;
    text-align: center;
    color:#bbb;
    border:1px solid #bbb;
}
.product-all-guanzhu{
    width:55px;
    max-width: 100px;
    min-width:50px;
    margin: 2px auto;
    font-size: 0.5rem;
    padding:1px 0px;
    border-radius: 2px;
    text-align: center;
    color:#DC721C;
    border:1px solid #DC721C;
    float:right;
    display: none;
}
.product-template-sixin{
    color:#71B1EF;
    border-color: #71B1EF;
}

.images .content-img{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    /*margin:-2px 2px;*/
}

.images .one-img {
    width: 45%;
    padding-bottom: 55%;
}