body{
    max-width: 640px;
    margin: 0 auto;
}
header,main,.erweima{
    padding:8px;
}
header>hr{
    margin-top:30px;
    clear: both;
}
header>span{
    display: inline-block;
    float:left;
    margin-right: 5px;
    vertical-align: middle;
}
.button-at{
    border:1px solid #DC721C;
    color:#dc721c;
    padding:2px 3px;
    border-radius: 5px;
    width:50px;
    font-size: 12px;
    text-align: center;
}
img{
    width:100%;
    height: auto;
}
h2{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 38px;
    padding-bottom: 10px;
}
ul{
    list-style: none;
}
.line{
    width:96%;
    margin: 0px auto;
    text-align: center;
    position:relative;
    margin-top:20px;
}
.line>div{
    font-size: 22px;
    text-align: center;
}
.line>div>p{
    width:180px;
    margin:0 auto;
    background-color: white;
    position: relative;
    top:-20px;
}
.shang{
    width: 78px;
    height: 78px;
    background-color: white;
    color:red;
    margin: 5px auto 25px;
    border-radius: 50%;
    border:2px solid red;
    font-size: 2rem;
    line-height: 80px;
    padding:10px;
    text-align: center;
}
.shang+p{
    text-align: center;
    color: #aaa;
}
form ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width:85%;
    margin: 0 auto;
    max-height: 87px;
    overflow: hidden;
    padding-left: 15px;

}
main ul li{
    display: block;
}
form ul li{
    width:35px;
    overflow: hidden;
    margin: 3px;
}
form ul li img{
    width:35px;
    height: 35px;
    border-radius: 50%;

}
.gengduo{
    width:100%;
    color:#777;
    margin:0 auto;
    text-align: center;
    padding:10px 0 30px 0;
    position: relative;
    top:-19px;
    margin-bottom: -50px;
    /*background: -webkit-linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2)); *//* Safari 5.1 - 6.0 */
    /*background: -o-linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2)); *//* Opera 11.1 - 12.0 */
    /*background: -moz-linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2)); *//* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(255,255,255,.6),rgba(255,255,255,.5));
    /*-webkit-background-color: transparent;*/
}
.right{
    float: right;
}
a{
    text-decoration: none;
    color:slategray;
}
.jilu{
    margin: 20px 0;
    color:gray;
    padding:0 10px;
    opacity: 0.7;
}
footer{
    background-color:#f5f5f5;
    padding:0px 5px;
}
footer .right{
    margin: 20px 0;
}
.footer_item{
    border-top:1px solid #ccc;
    width:98%;
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 10px 10px 0;
    padding:10px 0;
}
.footer_img{
    border-radius: 10px;
    margin: 6px;
    width:50px;
    height:50px;
}
.footer_img img{
    width:100%;
    height: 50px;
    border-radius: 5px;
}
.footer_content{
    width:80%;
}
.footer_name{
    float: left;
    color: #aaa;
}
.footer_time{
    float:right;
    color: #aaa;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    right:-15px;
}
.footer_content p{
    word-wrap: break-word;
    width:100%;
    float:right;
}
.fa-thumbs-up:before{
    display: none;
}
.header_author{
    border-radius: 20px;
    color:gray;
}
.header_time{
    color:gray;
}
.delete{
    float: right;
    opacity: .5;
    padding-right: 10px;
}
.zan,.pencil{
    width:18px;
    height: 18px;
}
.zan{
    position: relative;
    top: 3px;
}
.miss{
    display: none;
}
header a.ui-link, .comment a.ui-link{
    display: inline-block;
    font-size: 16px;
    color:#6f83ec;
}
.pencil{
    margin-bottom: -2px;
    padding-right: 8px;
}
.jilu{
    margin: 0;
}
div.jilu>.right a,.comment>.ui-link{
    color:#aaa;
    font-size: 16px;
    display: inline-block;
}
.main-zan{
    display: inline-block;
    width:60px;
    padding:10px;
}
.font-black{
    color:#333;
}